#define IDI_MAIN	1
#define IDM_MENU	1

#define IDM_NEWWIN	101
#define IDM_NEW	102
#define IDM_OPEN	103
#define IDM_SAVE	104
#define IDM_SAVEDOS	105
#define IDM_SAVEUNIX	106
#define IDM_PAGESET	107
#define IDM_PRINT	108
#define IDM_PROPERTIES	109
#define IDM_EXIT	110

#define IDM_UNDO	201
#define IDM_REDO	202
#define IDM_CUT	203
#define IDM_COPY	204
#define IDM_PASTE	205
#define IDM_CLEAR	206
#define IDM_SELECTALL	207

#define IDM_FONT	301
#define IDM_BGCOLOR	302
#define IDM_TOOL	303
#define IDM_STATUS	304
#define IDM_SELECTION	305
#define IDM_CLEARHIS	306
#define IDM_HISFILE	307
#define IDM_RELOAD	308
#define IDM_WORDWRAP	309

#define IDM_ADDFAV	401
#define IDM_ORGFAV	402
#define IDM_FAVFILE	403

#define IDM_FIND	501
#define IDM_FINDNEXT	502
#define IDM_REPLACE	503
#define IDM_GOTO	504
#define IDM_TIMEDATE	505
#define IDM_FILE	506

#define IDM_ABOUT	601

IDI_MAIN ICON MOVEABLE PURE LOADONCALL DISCARDABLE "kanmia.ico"

IDM_MENU MENU 
{
 POPUP "&File"
 {
  MENUITEM "New &Window", IDM_NEWWIN
  MENUITEM SEPARATOR
  MENUITEM "&New\tCtrl+N", IDM_NEW
  MENUITEM "&Open...\tCtrl+O", IDM_OPEN
  MENUITEM "&Save\tCtrl+S", IDM_SAVE, GRAYED
  POPUP "Save &As..."
  {
   MENUITEM "&DOS File", IDM_SAVEDOS, CHECKED
   MENUITEM "&UNIX File", IDM_SAVEUNIX
  }
  MENUITEM SEPARATOR
  MENUITEM "Page Set&up...", IDM_PAGESET
  MENUITEM "&Print...\tCtrl+P", IDM_PRINT
  MENUITEM SEPARATOR
  MENUITEM "Pr&operties...", IDM_PROPERTIES, GRAYED
  MENUITEM "&Close\tAlt+F4", IDM_EXIT
 }

 POPUP "&Edit"
 {
  MENUITEM "&Undo\tCtrl+Z", IDM_UNDO, GRAYED
  MENUITEM "&Redo\tCtrl+Y", IDM_REDO, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Cu&t\tCtrl+X", IDM_CUT, GRAYED
  MENUITEM "&Copy\tCtrl+C", IDM_COPY, GRAYED
  MENUITEM "&Paste\tCtrl+V", IDM_PASTE, GRAYED
  MENUITEM "Cle&ar\tDel", IDM_CLEAR, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "Select A&ll\tCtrl+A", IDM_SELECTALL
 }

 POPUP "&View"
 {
  MENUITEM "&Font...", IDM_FONT
  MENUITEM "&Background...", IDM_BGCOLOR
  MENUITEM SEPARATOR
  MENUITEM "&Toolbar", IDM_TOOL, CHECKED
  MENUITEM "&Status Bar", IDM_STATUS, CHECKED
  MENUITEM "S&election Bar", IDM_SELECTION, CHECKED
  MENUITEM SEPARATOR
  POPUP "Hi&story", GRAYED
  {
   MENUITEM "&Clear History", IDM_CLEARHIS, GRAYED
   MENUITEM SEPARATOR
  }
  MENUITEM "&Refresh\tF5", IDM_RELOAD, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Word Wrap", IDM_WORDWRAP
 }

 POPUP "F&avorites"
 {
  MENUITEM "&Add to Favorites...", IDM_ADDFAV, GRAYED
  MENUITEM "&Organize Favorites...", IDM_ORGFAV, GRAYED
  MENUITEM SEPARATOR
 }

 POPUP "&Tools"
 {
  MENUITEM "&Find...\tCtrl+F", IDM_FIND, GRAYED
  MENUITEM "Find &Next\tF3", IDM_FINDNEXT, GRAYED
  MENUITEM "R&eplace...\tCtrl+H", IDM_REPLACE, GRAYED
  MENUITEM "&Go To...\tCtrl+G", IDM_GOTO, GRAYED
  MENUITEM SEPARATOR
  POPUP "&Insert"
  {
   MENUITEM "Time/&Date\tF5", IDM_TIMEDATE
   MENUITEM SEPARATOR
   MENUITEM "File...", IDM_FILE
  }
 }

 POPUP "&Help"
 {
  MENUITEM "&About", IDM_ABOUT
 }
}
