#include <windows.h>

100 DIALOG 0, 0, 0, 0
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        101, 0, 0, 428, 212, ES_MULTILINE | ES_AUTOVSCROLL | 
                    ES_READONLY | NOT WS_BORDER
END
